
body{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  }
.section { 
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%; 
  grid-template-rows: 20% 80%;
  grid-auto-columns: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "clock"
    "Tables";
    padding-left: 2%;
    padding-right: 2%;
    
}
.clock {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "Date Time";
  grid-area: clock;
  align-items: center;
  text-align: center;
}

.Date {
   grid-area: Date;
   font-size: 50px;
   font-weight: bold;

  }

.Time {
   grid-area: Time;
   font-size: 80px;
   font-weight: bold;
   }

.Tables { 
  display: grid;
  grid-template-columns: repeat(3, 33.3%); 
  grid-template-rows: repeat(2, 50%); 
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "table-monday table-tuesday table-wednesday"
    "table-thursday table-friday buttons";
  grid-area: Tables;
  padding-left: 10px;
  padding-right: 20px;
  text-align: center;
}

.table-monday {
   grid-area: table-monday;
   }

.table-tuesday {
   grid-area: table-tuesday;
   }

.table-wednesday { 
  grid-area: table-wednesday;
 }

.table-thursday {
   grid-area: table-thursday; 
  }

.table-friday {
   grid-area: table-friday;
   }

.buttons { 
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: 1.4fr 0.8fr repeat(2, 0.9fr);
  gap: 10px 100px; 
  grid-template-areas: 
    ". . . ."
    ". success success ."
    ". print print ."
    ". . . ."; 
  grid-area: buttons; 
  background-color: rgb(255, 255, 255);
  
  
}

.success {
  grid-area: success;
  border: solid;
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
 }

 .success:hover{
  background-color: rgb(197, 197, 9);
 }

.print {
  grid-area: print;
  border: 0px;
  background-color: rgb(255, 255, 255);
  border: solid;
  font-weight: bolder;
  
 }

 .print:hover{
  background-color: rgb(224, 17, 172);
 }

td.boxSize{
  border: solid;
  height: 100%;
  width: 40%;
}

.Input{
  height: 100%;
  width: 100%;
  font-size: 40px;
  text-align: center;
  border: 0px solid;
  background-color: rgb(255, 255, 255);
  font-weight: bolder;
  color: rgb(0, 0, 0);
 }


 .Progress{
  height: 100%;
  width: 10%;
  font-size: 40px;
  text-align: center;
  border: solid;
 }

 .RDU{
  height: 100%;
  width: 10%;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
 }